@import "./partials/reset", "./partials/extends", "./partials/backgrounds", "./partials/parrafos", "./partials/body", "./partials/header", "./partials/footer"; 

    .carousel-inner img {
      max-height: 650px;
  }
  
  .foto{
    width: 350px;
    height: 340px;
  }
  
  
  .mapa{
    display: flex;
    justify-content:center;
    margin-left: 5px;
    margin-bottom: 50px;
    transition: all 1s;
    cursor: pointer;
    &:hover {
        transform: scale(1.06);
    }
  }

  
  .tituloprincipal{
    text-decoration: underline;
    color: rgb(19, 1, 1) ;
    font-weight: border;
    margin-left: 3px;
  }
  
  .historia{
    margin-left: 5px;
  }
  
  .consultaUbicacion{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: rgb(19, 1, 1) ;
    margin-left: 3px;
  }
  
  .formularioContacto{
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .instructivo{
    margin-left: 100px;
    text-decoration: none;
    margin-left: 600px;
  }
  
  